.App{
    font-family: 'SpotifyMixUI-Regular', Arial, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    min-height: 100vh;
    background-color: #2c2c2c;
    color: #f2f2f2;
}

.App-header {
    text-align: center;
    margin-bottom: 40px;
    padding: 30px 20px;
    background-color: #000000;
    border-radius: 10px;
    margin-top: 20px;
}

.app-title {
    font-family: 'SpotifyMixUI-Bold', sans-serif;
    font-size: 3.5rem;
    color: #1DB954; /* Spotify green */
    margin-bottom: 10px;
    letter-spacing: -0.5px;
}

.app-subtitle {
    font-family: 'SpotifyMixUI-Regular', sans-serif;
    font-size: 1.2rem;
    color: #b3b3b3; /* Spotify light gray */
}


/* Main Container */
.main-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  padding: 20px;
}